@import 'tailwindcss';
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #27a3d9;
  --color-danger: #ef4444;

  --text-xxs: 11px;
}
